div#wrap{
  width:800px;
  margin: 0 auto;
}
div.btn{
  margin: 20px auto;
  padding:30px 0;
  text-align:center;
}

div.btn>button{
  padding:15px 40px;
  border:none;
  color:#fff;
  margin: 0 30px;
  background-color:#800;

}
div.btn>button:last-child{
  background-color:green;
}